<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
	<!-- 扫描功能组件 spring自动装配 -->	
	<!-- dao层扫描器  -->
	<context:component-scan base-package="com.atm.dao" />
	<context:component-scan base-package="com.atm.dao.impl" />

	<!-- service层扫描器 -->
	<context:component-scan base-package="com.atm.service" />
	<context:component-scan base-package="com.atm.service.impl" />
	
	
	<!-- controller层扫描器  -->
<!-- 	<context:component-scan base-package="com.xjgc.xjap.appframe.controller" /> -->
<!-- 	<context:component-scan base-package="com.xjgc.xjap.authority.controller" /> -->
	 
</beans>
